<!DOCTYPE html>
<html>

<head>

  <link rel="stylesheet" href="{{ url_for("static", path="/css/bootstrap-5_2_3.min.css") }}" />
  <link rel="stylesheet" href="{{ url_for("static", path="/css/font-awesome-6_4_0.min.css") }}" />
  <link rel="stylesheet" href="{{ url_for("static", path="/css/custom.css") }}">

  <meta name="apple-mobile-web-app-capable" content="yes">

  <style>
    @import url({{ url_for("static", path="/css/fonts.css") }});
  </style>

  <title>{{ robot_name }} W.O.Z.</title>

</head>

<body>

  <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false" style="position: absolute; top: 0; right: 0;">
    <div class="toast-header">
      <strong class="me-auto"></strong>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">

    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-2 header p5 bg-dark text-white text-center">
      </div>
      <div class="col-8 header p5 bg-dark text-white text-center">
        <h1>{{ robot_name }} <i class="fas fa-robot robot pr-4 pl-4 mb-2"></i> W.O.Z.</h1>
      </div>
      <div class="col-2 header p5 bg-dark text-white text-left">
        <button type="button" class="btn btn-dark">
          <i class="fa-solid fa-computer pr-2"></i>
          Status: <span class="ml-2 connection-status badge badge-danger">Offline</span>
        </button>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row justify-content-left">
      <div class="col-10 p-1">
        <div class="card mt-2">
          <div class="card-header visuals text-center">
            <i class="fa-solid fa-map pr-2"></i>
            SLAM
          </div>
          <div class="row">
            <div class="col">
              <div id="map-container" class=""></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-2 p-1">
        <div class="row">
          <div class="col-12">
            <div class="card mt-2">
              <div class="card-header visuals text-center">
                <i class="fa-solid fa-map pr-2"></i>
                Actions
              </div>
              <div class="row text-center">
                <div class="col">
                  <div class="list-group maps">
                    <button class="list-group-item list-group-item-action action-dock">Dock</button>
                    <button class="list-group-item list-group-item-action action-cancel-dock">Cancel Dock</button>
                    <button class="list-group-item list-group-item-action action-start-mapping">Start Mapping</button>
                    <button class="list-group-item list-group-item-action action-save-map">Save Map</button>
                    <button class="list-group-item list-group-item-action action-stop-mapping">Stop Mapping</button>
                    <button class="list-group-item list-group-item-action action-start-navigation">Start Navigating</button>
                    <button class="list-group-item list-group-item-action action-add-location">Add Location</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="card mt-2">
              <div class="card-header visuals text-center">
                <i class="fa-solid fa-map pr-2"></i>
                Locations
              </div>
              <div class="row text-center">
                <div class="col">
                  <div class="list-group locations">

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="{{ url_for("static", path="/js/roslib.min.js") }}"></script>
    <script type="text/javascript" src="{{ url_for("static", path="/js/jquery.min.js") }}"></script>
    <script type="text/javascript" src="{{ url_for("static", path="/js/jquery.ba-throttle-debounce.min.js") }}"></script>
    <script type="text/javascript" src="{{ url_for("static", path="/js/bootstrap.min.js") }}"></script>
    <script type="text/javascript" src="{{ url_for("static", path="/js/eventemitter2.js") }}"></script>
    <script type="text/javascript" src="{{ url_for("static", path="/js/easeljs.min.js") }}"></script>
    <script type="text/javascript" src="{{ url_for("static", path="/js/ros2d.js") }}"></script>
    <script type="text/javascript" src="{{ url_for("static", path="/js/nav2d.js") }}"></script>

    <script>
      jQuery(function ($) {
        var locations = [];
        var map_con = $("#map-container");
        map_con.height(($(window).height() - map_con.offset().top) * 0.98);
        var viewer = new ROS2D.Viewer({
          divID: 'map-container',
          width: map_con.width(),
          height: map_con.height()
        });
        var ws_url = "ws://{{ rosbridge_host }}:{{ rosbridge_port }}";
        window.ros = new ROSLIB.Ros({
          url: ws_url,
        });
        ros.on("connection", function () {
          console.log("Connected to websocket server.");
          $(".connection-status").addClass("badge-success");
          $(".connection-status").removeClass("badge-danger");
          $(".connection-status").html("Connected");
        });
        ros.on("error", function (error) {
          console.log("Error connecting to websocket server: ", error);
          $(".connection-status").addClass("badge-danger");
          $(".connection-status").removeClass("badge-success");
          $(".connection-status").html("Offline");
        });
        ros.on("close", function () {
          console.log("Connection to websocket server closed.");
          $(".connection-status").addClass("badge-danger");
          $(".connection-status").removeClass("badge-success");
          $(".connection-status").html("Offline");
        });
        $(".connection-status").on("click", function () {
          window.ros.connect(ws_url);
        });

        var gridClient = new ROS2D.OccupancyGridClient({
          ros: window.ros,
          rootObject: viewer.scene,
          topic: "/map",
          continuous: true,
        });
        var old_state = {
          width: 0,
          height: 0,
          x: 0,
          y: 0,
        };
        gridClient.on('change', function () {
          currentGrid = gridClient.currentGrid;
          if (old_state.width !== currentGrid.width || old_state.height !== currentGrid.height) {
            viewer.scaleToDimensions(currentGrid.width, currentGrid.height);
            old_state.width = currentGrid.width;
            old_state.height = currentGrid.height;
          }
          if (old_state.x !== currentGrid.pose.position.x || old_state.y !== currentGrid.pose.position.y) {
            viewer.shift(gridClient.currentGrid.pose.position.x, gridClient.currentGrid.pose.position.y);
            old_state.x = currentGrid.pose.position.x;
            old_state.y = currentGrid.pose.position.y;
          }
        });

        var robotMarker = new ROS2D.NavigationImage({
          size: 1,
          image: "/static/media/robot.png",
          // <a href="https://www.flaticon.com/free-icons/robot" title="robot icons">Robot icons created by Freepik - Flaticon</a>
          pulse: true
        });
        robotMarker.visible = false;
        viewer.scene.addChild(robotMarker);
        var tfClient = new ROSLIB.TFClient({
          ros : window.ros,
          fixedFrame : 'map',
          angularThres : 0.01,
          transThres : 0.01
        });
        var lastcoords = null;
        tfClient.subscribe('base_link', function(tf) {
          robotMarker.x = tf.translation.x;
          robotMarker.y = -tf.translation.y;
          robotMarker.rotation = viewer.scene.rosQuaternionToGlobalTheta(tf.rotation);
          robotMarker.visible = true;
          lastcoords = tf;
        });

        var moveActionClient = new ROSLIB.ActionClient({
          ros : ros,
          serverName : '/move_base',
          actionName : 'move_base_msgs/MoveBaseAction'
        });

        var startCoords = null;
        viewer.scene.addEventListener("stagemousedown", function (event) {
          startCoords = viewer.scene.globalToRos(event.stageX, event.stageY);
        });
        viewer.scene.addEventListener("stagemouseup", function (event) {
          if (startCoords == null) {
            return;
          }
          var endCoords = viewer.scene.globalToRos(event.stageX, event.stageY);
          var xDelta = endCoords.x - startCoords.x;
          var yDelta = endCoords.y - startCoords.y;
          var thetaRadians = Math.atan2(xDelta, yDelta);
          if (thetaRadians >= 0 && thetaRadians <= Math.PI) {
            thetaRadians += (3 * Math.PI / 2);
          } else {
            thetaRadians -= (Math.PI / 2);
          }
          var qz = Math.sin(-thetaRadians / 2.0);
          var qw = Math.cos(-thetaRadians / 2.0);
          var goal = new ROSLIB.Goal({
            actionClient : moveActionClient,
            goalMessage : {
              target_pose : {
                header : {
                  frame_id : '/map'
                },
                pose : {
                  position: startCoords,
                  orientation: {
                    x: 0.0,
                    y: 0.0,
                    z: qz,
                    w: qw,
                  },
                }
              }
            }
          });
          goal.send();

        });

        var dockTopic = new ROSLIB.Topic({
          ros : ros,
          name : "/CmdAutoDock",
          messageType : "std_msgs/Int32"
        });

        $(".action-dock").click(() => {
          var msg = new ROSLIB.Message({
            data: 1
          });
          dockTopic.publish(msg);
        });

        $(".action-cancel-dock").click(() => {
          var msg = new ROSLIB.Message({
            data: 0
          });
          dockTopic.publish(msg);
        });

        $(".action-start-mapping").click(() => {
          $(".toast").toast({autohide: false});
          $(".toast-body").text("Starting mapping...")
          $(".toast").toast("show");
          $.get("http://localhost:8000/amy_cmd", {
            cmd: "#MAPO"
          }, (r) => {
            var msg = "unknown";
            if (r == "#MAPF") {
              msg = "wait for mapping module time out!";
            } else {
              msg = "you have opened the mapping.";
            }
            $(".toast-body").text("Response: " + msg);
            $(".toast").toast("show");
          });
        });

        $(".action-save-map").click(() => {
          $(".toast").toast({autohide: false});
          $(".toast-body").text("Saving map...")
          $(".toast").toast("show");
          $.get("http://localhost:8000/amy_cmd", {
            cmd: "#SMAP"
          }, (r) => {
            $(".toast-body").text("Response: " + r);
            $(".toast").toast("show");
          });
        });

        $(".action-stop-mapping").click(() => {
          $(".toast").toast({autohide: false});
          $(".toast-body").text("Stop mapping...")
          $(".toast").toast("show");
          $.get("http://localhost:8000/amy_cmd", {
            cmd: "#QMAP"
          }, (r) => {
            $(".toast-body").text("Response: " + r);
            $(".toast").toast("show");
          });
        });

        $(".action-start-navigation").click(() => {
          $(".toast").toast({autohide: false});
          $(".toast-body").text("Starting navigation...")
          $(".toast").toast("show");
          $.get("http://localhost:8000/amy_cmd", {
            cmd: "#NAVS"
          }, (r) => {
            $(".toast-body").text("Response: " + r);
            $(".toast").toast("show");
          });
        });

        $(".action-add-location").click(() => {
          var data = {
            position: lastcoords.translation,
            orientation: lastcoords.rotation,
          }
          var name = window.prompt("Enter a location name");
          locations.push({name: name, location: data});
          var div = $(document.createElement("div"));
          div.text(name);
          $(".locations").append(div);
        })

      });
    </script>

</body>

</html>
